<!-- ============================================================== 
              Login
  ============================================================== 
 * Realizado por :   Sergio Daniel Velasquez Pobre 
 * Descripcion :   Este es el html del login, compuesto por dos inputs y un button. 
-->

<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-box card">
      <div class="card-body">
          <!-- Formulario del login -->
          <form  class="form-horizontal form-material"  id="loginform" action="index.html" autocomplete="off">
              <a class="text-center db"><img src="assets/images/logo-icon.png" alt="Home" /><br/><img src="assets/images/logo-text.png" alt="Home" /></a>
              <div class="form-group m-t-40">
                  <div class="col-xs-12">

                      <input name="email" class="form-control" type="email" required placeholder="Usuario" >
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-12">
                      <input  name="password" class="form-control" type="password" required placeholder="Contraseña">
                  </div>
              </div>
              
              <div class="form-group text-center m-t-20" style="margin-top: 80px;">
                  <div class="col-xs-12">
                      <button class="btn btn-dark btn-lg btn-block text-uppercase btn-rounded" type="submit">INGRESAR</button>
                  </div>
              </div>
             
          </form>
         
      </div>
  </div>
</section>